body {
    background-color: #afdff2;
    font-family: "Arabic Typesetting", monospace;
    margin: 0;
  }

/* Otsikko */
h1 {
font-family: "Caveat", cursive;
font-size: 2.5rem;
color: #ffffff;
margin: 0;
font-family: "Arabic Typesetting"
}

.subtitle,
nav a {
font-size: 1.5em;
color: #ffffff;
text-transform: uppercase;
}
.container {
width: 90%;
max-width: 900px;
margin: 0 auto;
}
.container-nav {
display: flex;
justify-content: space-between;
align-items: center;
}
header {
background-color: #3b6a96;
padding: 0.8em 0;
/*box-shadow: 2px 2px 10px #f1f6f9;*/
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    }
nav li {
    margin-left: 2em;
    }
nav a {
    text-decoration: none;
    }
    
    nav a:hover,
    nav a:focus {
    color: #ffd415;
    }
@media screen and (max-width: 850px) {
    .container {
        text-align: center;
    }
    
    .container-nav {
        flex-direction: column;
    }
    
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: 0.8em 0;
    }
    .column {
        width: 100%;
        float: none;
    }
    .row {
        flex-direction: column; 
    }
}

.row {
    display: flex;
    align-items: center;
    padding-top:10px;
}
/* Luodaan kaksi saraketta */
.column {
    float: left;
    width: 50%;
}

/* Poistetaan sivujako */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.kiipeilykartta_iframe {
    float: none;
    width: 100%;
}

.responsive {
    width: 100%;
    max-width: 350px;
    height: auto;
}

footer {
    text-align:center;
    width: 100%;
    font-size:0.75em;
    padding-top:100px;
}
.valinta {
     color: #ffd415;
    }